#vim
*~
*.sw?
package-lock.json
# python
*.pyc

# generic editing tools
tags

#mac
*.DS_Store

# libs

# build tools
node_modules/

# logfiles
*.log
.idea/
.vscode/
.history/

# build artifacts
build/index.html
build/favicon.*

webpack/dll
# build
build/
example/

#tgz
*.tgz
src/test.tsx
pack.sh
stats.json